.header{
      max-width: var(--global-max-width);
      margin: 0 auto;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 10px;
}
.burger{
      display: none;
}

@media (max-width: 1200px){
      .header{
            width: 95%;
      }
}
@media (max-width:600px){
      .burger{
            display: block;
      }
      .nav{
            display: none;
      }
}